<tr>
  <th></th>
  <th class="faq-table">Question</th>
  <th class="faq-table">Answer</th>
  <th></th>
</tr>

<% @faqs.each.with_index(1) do |faq, key| %>
  <tr>
    <td class="title"><span class="faq-index"><%= key %></span></td>
    <td style="text-align: left;"><%= faq.question %></td>
    <td class="centered" style="text-align: left;"><%= faq.answer %></td>
    <td class="action"></td>
  </tr>
<% end %>
