<!-- Titlebar
================================================== -->
<div id="titlebar" class="single" style="margin-bottom: 20px;">
  <div class="container">
    <div class="sixteen columns">
      <h2>Frequently Asked Questions</h2>
        <nav id="breadcrumbs">
          <ul>
            <li>You are here:</li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "FAQ", allfaqs_path %></li>
            <li>Edit FAQ</li>
          </ul>
        </nav>
      </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <div class="sixteen columns">
    <%= render 'form', faq: @faq %>
    <%= link_to 'Back', allfaqs_path, class: 'button border fw margin-top-10' %>
  </div>
</div>
