<div class="px-3">
    <h2>Blogs</h2>
    <% if @role == 'admin' %>
        <div class="row">
            <div class="col-md-3">
                <%= link_to 'Add Blog', new_blog_path, class: 'btn btn-success btn-block' %>
            </div>
        </div>
        <br>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="faq-section pl-3">
                    <% @blogs.each.with_index(1) do |blog, key| %>
   
                    <% end %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="faq-section pl-3">
            <% @blogs.each.with_index(1) do |blog, key| %>
            <% end %>
        </div>
    <% end %>
</div>