<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Add New Blog</h2>
		</div>

	</div>
</div>

<div class="container">
    <%= render 'form', blog: @blog %>
</div>
<br>
<div class="container">
  <div class="sixteen columns">
    <%= link_to 'Back', allblogs_path, class: 'button' %>
  </div>
</div>