<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg submit-page">
  <div class="container">

    <div class="sixteen columns">
      <% if current_user.has_roles?(:superadmin) %>
        <h2><span class="text-primary"><%= @company %></span>'s Jobs List</h2>
      <% else %>
        <h2><i class="fa fa-list"></i> Your Jobs List</h2>
      <% end %>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  
  <!-- Table -->
  <div class="sixteen columns">

    <p class="margin-bottom-25">Your jobs can be viewed, edited or removed below.</p>

    <table class="manage-table resumes responsive-table">

      <tr>
        <th></th>
        <th><i class="fa fa-file-text"></i> Title</th>
        <th><i class="fa fa-check-square-o"></i> Type of Job</th>
        <th><i class="fa fa-check-square-o"></i> Job Area</th>
        <th><i class="fa fa-user"></i> Applications</th>
        <th><i class="fa fa-user"></i> Invites</th>
        <th><i class="fa fa-calendar"></i> Date Posted</th>
        <th></th>
      </tr>

      <%= render @jobs %>

    </table>

    <br>

    <%= link_to "Add Job", new_job_path, class: "button" %>

  </div>

</div>
