<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-recruiter">
  <div class="container">

    <div class="sixteen columns">
      <% if current_user.has_roles?(:superadmin) %>
        <h2><span class="text-primary"><%= @company %></span>'s Jobs List</h2>
      <% else %>
        <h2><i class="fa fa-list"></i> Your Jobs List</h2>
      <% end %>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Table -->
  <div class="sixteen columns">

    <p class="margin-bottom-25">Your jobs can be viewed, edited or removed below.</p>

    <table class="manage-table resumes responsive-table">

      <tr style="text-align: center;">
        <th></th>
        <th>Title</th>
        <th>Type of Job</th>
        <th>Job Area</th>
        <th>Applications</th>
        <th>Invites</th>
        <th>Plan</th>
        <th>Status</th>
        <th>Date Posted</th>
        <th></th>
      </tr>

      <%= render @jobs %>

    </table>

    <br>

    <%= link_to "Add Job", new_job_path, class: "button" %>

  </div>

</div>
