<li><a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> You have Invites</a></li>

    <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
      <div class="small-dialog-headline">
        <h2>You have invites!</h2>
      </div>

      <div class="small-dialog-content">
        <% submitted_relations = current_user.resumes[0].applied_jobs.submitted %>
        <% @jobs = [] %>
        <% submitted_relations.each do |j| %>
          <%  @jobs << Job.find(j.job_id) %>
        <% end %>

        <% @jobs.each do |job| %>
                <h4><strong><%= link_to Company.find_by_user_id(job.user_id).title, company_path(Company.find_by_user_id(job.user_id)) %></strong>
                has inviteed you to apply for <strong><%= link_to job.title, job_path(job) %></strong><br>
                Want do you want to do?</h4>
                <div class="container">
                  <div class="columns">
                    <%= link_to "Accept and Apply", apply_job_path(job.id), class: 'button', data: { confirm: 'Do you want to accept invitation and apply to this job?' } %>
                  </div>
                  <div class="columns"> 
                    <%= link_to "Decline invitation", decline_job_path(job.id), class: 'button dark', data: { confirm: 'Do you want to decline invitation to this job?' } %>
                  </div> 
                </div>
        <hr>  
        <% end %>
      </div>
      
    </div>

