<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-plus-circle"></i> New Job Title</h2>
    </div>

  </div>
</div>

<div class="container">
  <div class="six columns">
    <%= render 'form', job_title: @job_title %><br>
    <%= link_to 'Back', settings_path, class: 'button' %>
  </div>
</div>
