<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-admin">
  <div class="container">

    <div class="sixteen columns">
      <h2>Job Spotlight Settings</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>Job Spotlight Settings</li>
        </ul>
      </nav>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">

  <!-- Table -->
  <div class="sixteen columns">
    <table class="manage-table resumes responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th>Id</th>
          <th>Job Title</th>
          <th>Company</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="job_seekers">
        <% @jobs.each do |job| %>
          <tr style="text-align: center;">
            <td><%= job.id %></td>
            <td class="title"><%= link_to job.title, job %></td>
            <td class="title"><%= link_to job.companies[0].title, company_path(job.companies[0].id) %></td>
            <td>
              <% if job.spotlight == true %>
                Active
              <% else %>
                No
              <% end %>
            </td>
            <td>
              <a href="#small-dialog" class="popup-with-zoom-anim button">Spotlight</a>

              <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                <div class="small-dialog-headline">
                  <h2>Apply For This Job</h2>
                </div>

                <div class="small-dialog-content">
                  <form action="#" method="get" >
                    <input type="text" placeholder="Full Name" value=""/>
                    <input type="text" placeholder="Email Address" value=""/>
                    <textarea placeholder="Your message / cover letter sent to the employer"></textarea>

                    <!-- Upload CV -->
                    <div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
                    <div class="clearfix"></div>

                    <label class="upload-btn">
                        <input type="file" multiple />
                        <i class="fa fa-upload"></i> Browse
                    </label>
                    <span class="fake-input">No file selected</span>

                    <div class="divider"></div>

                    <button class="send">Send Application</button>
                  </form>
                </div>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<br>
