<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
  <div class="container">

    <div class="sixteen columns">
      <h2>News Feed</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><%= link_to 'Home', root_path %></li>
          <li>News Feed</li>
        </ul>
      </nav>
    </div>

  </div>
</div>


<!-- Content
================================================== -->
<div class="container">
  <h2>Recent updates</h2>
  <!-- Applications -->
    
  <% @jobs.each do |j| %>
    <div class="eight columns">
      <!-- Application #1 -->
      <div class="application">
        <div class="app-content">
          
          <!-- Name / Avatar -->
          <div class="info">
            <%= image_tag placeholder_img(j.user.companies.first.logo, 'logo') %>
            <img src="images/resumes-list-avatar-01.png" alt="">
            <span><%= link_to j.user.companies.first.title, company_path(j.user.companies.first) %></span>
            <ul>
              <li>Posted a Job "<%= link_to j.title, job_path(j)  %>"</li>
            </ul>
          </div>
          
        </div>

        <!-- Footer -->
        <div class="app-footer">

          

          <ul>
            <li>on</li>
            <li><i class="fa fa-calendar"></i> September 24, 2015</li>
          </ul>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>
  <% end %>

</div>