<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
  <div class="small-dialog-headline">
    <h2>Confirm Action</h2>
  </div>

  <div class="small-dialog-content">

    <div class="modal-body">
      <h5></h5>
    </div>

    <br>
    <br>

    <div>
      <button type="button" class="button action-confirm-yes">Yes</button>
    </div>

  </div>

</div>
