<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-non-login">
  <div class="container">

    <div class="sixteen columns">
      <h2><i class="fa fa-list"></i> Your Companies List</h2>
    </div>

  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  
  <!-- Table -->
  <div class="sixteen columns">

    <p class="margin-bottom-25">Your companies can be viewed or edited below.</p>

    <table class="manage-table responsive-table">
      <thead>
        <tr style="text-align: center;">
          <th style="text-align: center;">Company name</th>
          <th>Industry</th>
          <th>Country</th>
          <th>City</th>
          <th>Number of employee</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="jobs">
        <%= render partial: 'company', collection: @companies %>
      </tbody>
    </table>
  </div>
</div>