<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-jobseeker">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-edit"></i> Edit Keyword</h2>
		</div>

	</div>
</div>

<div class="container">
	<div class="six columns">
		<%= render 'form', keyword: @keyword %>
		<%= link_to 'Back', alert_path, class: 'btn btn-primary' %>
	</div>
</div>