/* ...
*= require base
*= require font-awesome
*= require responsive
*= require style
*/
/*
@import "bootstrap";
*/
@import "font-awesome";
@import "gritter";

@import "select2";
@import "social-share-button";

@import "variables";
// @import "faqs";


.custom-nav {
  margin-bottom: 20px;
}

.custom-home {
  margin-top: 45px;
}

.logo {
  margin-top: 15px;
}

.bookmark {
  color: gray;
}

.bookmark.small, .unbookmark.small {
  font-size: 20px;
  padding-right: 10px;
}

.bookmark:hover {
  color: #ff9900;
  text-decoration: none;
}

.unbookmark {
  color: #ff9900;
}

.unbookmark:hover {
  color: gray;
  text-decoration: none;
}

.admin_icons:hover {
  text-decoration: none;
}

.sidebar {
  background: #f5f5f5;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 30px;
}

.filter-block {
  .hidden-filter {
    display: none;
  }
}

.info-cards {
  margin-top: 25px;
  hr {
    margin: 6px auto;
  }
  .info-cards__card {
    padding-top: 17px;
    padding-bottom: 17px;
    &.company {
      padding-top: 14px;
      padding-bottom: 14px;
      .star-rating {
        margin-top: -2px;
        float: left;
        padding-right: 5px;
      }
    }
    font-size: 14px;
    .selected {
      padding-left: 10px;
      border: 3px #000 solid;
    }
    .card__title {
      font-size: 16px;
    }
  }
}

#job_info {
  height: calc(100% - 50px);
  width: calc(100% - 30px);
  position: absolute;
  margin-top: 80px;
  margin-bottom: 20px;
  top: 0px;
  padding: 0px;
  &.fix-block {
    padding: auto;
    position: fixed;
    margin-top: 20px;
    height: calc(100vh - 60px);

  }
}
#main-job-container {
  height: inherit;
}

.job-info__head {
  padding-bottom: 5px;
  margin-bottom: 10px;
  height: 140px;
  &.company {
    height: 130px;
  }
}
.job-info__body {
  height: calc(100% - 140px);
  overflow-x: auto;
  margin-bottom: 20px;

}


/*
 ===================================
	Manage JobSeekers and Recruiter
 ===================================
 */
select.change-action {
  width: 150px;
}

/*
 ===================================
	Manage JobSeekers and Recruiter
 ===================================
 */
.faq-section {
  font-size: 17px;
}

/*
 ===================================
	Blog
 ===================================
 */

.blog-content p {
  margin-bottom: 0;
}

.blog .social-share-button {
  float: right;
  .ssb-icon {
    background-size: $social-share-button-size, $social-share-button-size;
    height: $social-share-button-size;
    width: $social-share-button-size;
  }
}

.big-icons .social-share-button {
  .ssb-icon {
    background-size: 38px, 38px;
    height: 38px;
    width: 38px;
  }
}

.review img {
  width: 20px;
  height: 20px;
  margin: 5px 0 5px 5px;
}

.recruiter-image {
  width:100%;
  height: auto;
  /*min-height: 400px;*/
}



.wrap {
  width: 50%;
  /*height: 100vh;*/
  margin: 0 auto;
  /*background-color: aliceblue;*/
}

.wrap-img {
  /*position: relative;*/
  width: 100%;
  line-height: 0px;
  /*background-color: #26ae61;*/
}

.wrap-img img {
  width: 100%;
  height: 100%;
}

.middle,
.bottom-right,
.top-left {
  width: 52%;
  ;
  height: 80%;
  ;
  position: absolute;
}

.top-left {
  top: 36%;
  right: 40%;
  color: #ffffff;
  /*font-size: 40px;*/
  z-index: 2;
  line-height: 1.9;
}

.middle {
  top: 36%;
  left: 40%;
  color: #ffffff;
  /*font-size: 40px;*/
  z-index: 2;
  line-height: 1.9;
}

.bottom-right {
  background-color: #008000;
  bottom: 47%;
  right: 20%;
}

.darkened {
  position: relative;
}

.darkened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

.greened {
  position: relative;
}

.greened::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38,174,97,0.7);
  z-index: 1;
}

@media (max-width: 1200px) {
  .mixplat_operators {
    display: none;
  }
  .middle {
    top: 9%;
  }
  .top-left{
    top: 9%;
  }
}

@media (max-width: 815px) {
  .wrap {
    width: 100%;
  }
  .middle {
    top: 25%;
    left: 20%;
  }
  .top-left{
    top: 25%;
    right: 20%;
  }
}


/* images */

.header-image-non-login {
  /*background-image: url(banner-home-01.jpg);*/
  background-image: url(bg/purty_wood.png);
  background-size: cover !important;
}

.header-image-recruiter {
  background-image: url(banner-home-04.jpg);
}

.header-image-jobseeker {
  background-image: url(crop-jobseeker.png);
}

.header-image-admin {
  background-image: url(crop-admin.png);
}

.header-image-admin-homepage {
  background-image: url(admin.jpg);
}

.all-jobs-image {
  background-image: url(crop-others.png);
}

.faq-table {
  padding-left: 20px !important;
  text-align: left;
}

.job-page-photo {
  background-image: url(crop-others.png);
}

.resume-title-text {
  color: white !important;
}

.resume-title-button {
  width: 200px;
  background-color: #e32b2b !important;
}

.resume-title-button:hover {
  background-color: white !important;
}


table.manage-table th {
  padding-left: 20px;
}

table.manage-table th:first-child {
  padding-left: 20px;
}

table.manage-table.resumes td:first-child, table.manage-table td:first-child {
  padding-left: 20px;
}

table.manage-table th {
  text-align: center;
}

/* Navs for mobile */
.nav-mobile {
  display: none
}

@media (max-width: 990px) {
  .nav-desktop {
    display: none !important;
  }
  .nav-mobile {
    display: block;
  }
}
