<!-- Titlebar
================================================== -->
<div id="titlebar" class="photo-bg header-image-non-login">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Add Review</h2>
		</div>

	</div>
</div>

<!-- Content
================================================== -->
<div class="container">
	
	<!-- Submit Page -->

	<div class="sixteen columns">
		<div>
		  <div class="five columns">
		  	<% if @company.logo.present? %>
	        <%= image_tag @company.logo, width: '100%' %>
	      <% else %>
	        <%= image_tag ('job-list-logo-01.png'), width: '100%' %>
	      <% end %>
		    <%# image_tag placeholder_img(@company.logo, 'logo'), width: '100px' %><br><br>
		  </div>
		</div>
	</div>

	<div class="sixteen columns">
		<%= render 'form', review: @review %>
		<br>
		<%= link_to "Back to #{@company.title}", company_path(@company), class: 'button dark' %>

	</div>
</div>
