<% if user_signed_in? && current_user.jobs.count > 0 && @resume.user_id != current_user.id %>
<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Invite to Job</a>

<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
  <div class="small-dialog-headline">
    <h2>Job Invite</h2>
  </div>
  <div class="small-dialog-content">
    <h5>To which Job would you like to invite this candidate?</h5><br>
    <%= form_tag invite_to_job_path do %>
      <%= select_tag "job_id", options_from_collection_for_select(current_user.jobs, "id", "title"), prompt: "Select Your Job", class: "chosen-select-no-single" %><br><br>
        <%= submit_tag "Send Invite", class: 'send', data: { confirm: 'Do you want to invite this jobseeker?' } %>
    <% end %>
  </div>
  
</div>
<% end %>