<!-- Titlebar
================================================== -->
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-edit"></i> Edit Resume</h2>
		</div>

	</div>
</div>

<%= render 'form', resume: @resume %>
<div class="container">
  <div class="sixteen columns">
    <div class="submit-page">
<%= link_to 'Show', @resume, class: 'button' %>
<%= link_to 'Back', resumes_path, class: 'button' %>
</div>
</div>
</div>
</div>
